#profile {
  .profile-top {
    .img-profile {
      height: 150px;
      width: 150px;
      border: 1px solid #d3e0e9;
      position: relative;
      float: left;
      margin-top: 15px;
      margin-left: 15px;

      img {
        width: 100%;
        height: 100%;
      }

      .img-upload {
        position: absolute;
        bottom: 0;
      }

      .btn-default {
        background-color: rgba(255,255,255,.5);
      }
    }

    .panel-body {
      padding-right: 185px;
      padding-left: 185px;
    }

    .profile-title {
      left: -150px;
    }

    .change-role {
      width: 150px;
      position: relative;
      float: right;
      margin-top: 15px;
      margin-right: 15px;


      .dropdown-menu {
        left: initial;
        right: 0;
      }
    }
  }
  .profile-aside {}
  .profile-timeline {
    .media {
      img {
        width: 64px;
        height: 64px;
      }
    }
  }
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.user-role {
  text-transform: capitalize;
}

.user-full-name {
  text-transform: uppercase;
}