
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "profile";

[v-cloak] {
  // display: none;
}

.modal {
  textarea {
    resize: vertical;
  }
}

.list-item {
  transition: all 1s;
}
.list-enter {
  opacity: 0;
  background: #d9edf7;
}
.list-enter, .list-leave-active {
  transform: translateX(30px);
}
.list-leave-active {
  opacity: 0;
  position: absolute;
}

.media img {
  width: 64px;
  height: 64px;
}

.post {
  .media-heading {
    padding-right: 20px;
  }

  .dropdown {
    font-size: 5px;

    .option {
      padding: 0;
      color: inherit;

    & :hover {
      }

      span {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid;
        border-right: 5px solid rgba(0,0,0,0);
        border-left: 5px solid rgba(0,0,0,0);
      }
    }

    .dropdown-menu {
      margin-top: 0;
      left: initial;
      right: 0;
    }
  }
}

.media-body {
  word-break: break-word;
}

.media, .media-body {
  overflow: visible;
}