
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-datetimepicker-sass/src/sass/bootstrap-datetimepicker";

[v-cloak] {
  display: none;
}

@media (min-width: 768px) {
  .navbar-form {
    width: 385px;
    padding: 0;

  }
}

.navbar-form {

  .form-control {
    width: 100%;
    border-radius: 20px;
  }

  .dropdown-menu {
    width: 100%;
    max-height: 300px;
    overflow-y: overlay;

    > .divider:last-child {
      display: none;
    }
  }
}

.navbar-brand {
  padding: 0 15px;

  > img {
    height: 50px;
    width: auto;
  }
}

.root-content {
  margin-top: 73px;
}

.modal {

  textarea {
    resize: none;
    height: 105px;
  }
}

.list-item {
  transition: all .5s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  top: 0;
  transform: translateX(-30px);
}
.list-leave-active {
  position: absolute;
}

.search.affix, .search.affix-top {
  max-height: calc(100% - 73px);
  overflow-y: auto;
}

.affix {
  min-width: 220px;
}

.profile.affix {
  top: 73px;
}

.nav-aside {
  margin-bottom: 10px;
  list-style-type: none;
  padding: 0;

  li {
    padding: 3px 0;

    &.active{
      border-left: 2px solid $brand-primary;
      padding-left: 10px;

      .btn-link {
        color: $text-color;
      }
    }

    .btn-link {
      padding: 0;
      border: 0;
    }
  }
}

.nav-aside-inner {
  margin-bottom: 0;
  margin-left: 10px;
}

.search-collapse {

  &:before {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

.panel {

  .dropdown {
    font-size: 5px;

    .option {
      padding: 0;
      color: inherit;

      span {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid;
        border-right: 5px solid rgba(0,0,0,0);
        border-left: 5px solid rgba(0,0,0,0);
      }
    }

  }
}

.media {

  .media-left {

    .media-object {
      height: 64px;
      width: 64px;
    }
  }

  h3, p {
    margin: 0;
    margin-top: 10px;
  }

  .enlarge {
    font-size: 18px;
  }
}

.answer {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.bar-wrapper {
  padding: 0;
  border: 1px solid $laravel-border-color;
  width: 100%;
  height: 100%;
  min-height: 26px;
  display: inline-block;
  position: relative;
  word-wrap: break-word;
  text-align: left;
  cursor: pointer;

  .bar {
    background-color: $state-info-bg;
  }

  &:hover .bar {
    background-color: $btn-success-bg;
  }

  &:hover.disabled .bar {
    background-color: $state-info-bg;
  }

  &.selected {
    background-color: darken(#fff, 10%);

    .bar {
      background-color: $btn-primary-bg;
    }

    .bar-label {
      color: #fff;
    }
  }

  &:hover.disabled.selected {
    background-color: darken(#fff, 10%);

    .bar {
      background-color: $btn-primary-bg;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
  }
}

.bar {
  // background-color: lighten($brand-info, 10%);
  height: 100%;
  position: absolute;
}

.bar-label {
  color: #4b4f56;
  padding: 6px 10px 6px 30px;
  position: relative;

  .answer-label {
    width: calc(100% - 100px);
  }

  .result {
    width: 90px;
    float: right;
  }

  .poll-type {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;

    input[type="radio"], input[type="checkbox"] {
      margin: 0;
    }
  }
}

#poll-modal {

  .list-group {
    word-wrap: break-word;
    margin-bottom: 0;

    .list-group-item {
      padding-right: 45px;
    }

    .remove {
      position: absolute;
      right: 10px;
    }
  }
}

.tooltip-answer {
  opacity: 1;
  margin-top: -25px;
}

.full-option {
  margin: 20px 0;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-circle {
  margin: auto;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.4rem solid $brand-info;
  border-top-color: $brand-primary;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.search {

  .list-group-item-heading:first-child {
    margin-bottom: 0;
  }
}

.full {
  display: inline-block;
  border: 5px solid $laravel-border-color;
  border-radius: 5px;
}

.nav.nav-tabs {
  margin-bottom: 20px;
}

.search-act .list-group-item:last-child {
  margin-bottom: 20px;
}

.profile-top {

  .media-image {
    height: 150px;
    width: 150px;
  }

  .media-body {

    .text-muted {
      font-size: 150%;
    }
  }
}