
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "profile";

[v-cloak] {
  // display: none;
}

.modal {
  textarea {
    resize: none;
    height: 105px;
  }
}

.list-item {
  transition: all 1s;
}
.list-enter {
  opacity: 0;
  background: #d9edf7;
}
.list-enter, .list-leave-active {
  transform: translateX(30px);
}
.list-leave-active {
  opacity: 0;
  position: absolute;
}

.panel {



  .dropdown {
    font-size: 5px;

    .option {
      padding: 0;
      color: inherit;

      span {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid;
        border-right: 5px solid rgba(0,0,0,0);
        border-left: 5px solid rgba(0,0,0,0);
      }
    }

    .dropdown-menu {
      margin-top: 0;
      left: initial;
      right: 0;
    }
  }
}

.panel-head {
  padding: 15px 15px 0 15px;

  h4 {
    margin: 0;
    display: inline-block;
    word-break: break-word;
  }
}

.panel-body {

  h3 {
    margin-top: 0;
    word-break: break-word;
  }

  p {
    margin: 0;
    word-break: break-word;
  }
}

.profile-img {
  display: inline-block;

  img {
    height: 64px;
    width: 64px;
  }
}