
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "profile";

[v-cloak] {
  // display: none;
}

.modal {
  textarea {
    resize: vertical;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  transition: background 1s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
  background: #d9edf7;
}

.media {
  img {
    width: 64px;
    height: 64px;
  }

  .media-body {
    word-break: break-word;

    .media-heading {
      padding-right: 20px;
    }

    .dropdown {
      float: right;

      .opt {
        padding: 0;
        border: 0;
      }

      .dropdown-menu {
        left: initial;
        right: 0;
      }
    }
  }
}

.media, .media-body {
  overflow: visible;
}